
<div class="container ">
  <% if @bookings.empty? %>
  <div class=" title-front text-center">
    <h2>No Booking</h2>
  </div>
  <% else %>
  <div class=" title-front text-center">
    <h2>This is your booked Destinations all over the universe</h2>
  </div>
  <div class="row">
    <% @bookings.each do |booking| %>
    <div class="col-xs-12 col-sm-6 col-md-4 ">
      <div class="card">
       <div class="card-img " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path booking.destination.photo %>);">
        <div class="card-block">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/filouzzz">

          <div class="card-description">
            <h2><%= booking.destination.name %></h2>
            <p><%= booking.destination.planet_type %></p>
            <p> booked from <%= booking.start_date %> to <%= booking.end_date %></p>
            <%= link_to 'Delete Booking', destination_booking_path(booking.destination, booking),method: :delete, class: "btn btn-primary" %>

          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>




</div>
</div>


<div class="container ">
  <% if @created_destination.any? %>
  <div class=" title-front text-center">
    <h2>This is your Destinations all over the universe</h2>
  </div>
  <div class="row">


    <% @created_destination.each do |destination| %>

    <div class="col-xs-12 col-sm-6 col-md-4 "
    <div class="card">
     <div class="card-img " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path destination.photo %>);">
     </div>

     <div class="card-block">
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/filouzzz">

      <div class="card-description">
        <h2><%= destination.name %></h2>
        <p><%= destination.planet_type %></p>
        <p> booked from <%= booking.start_date %> to <%= booking.end_date %></p>
        <%= link_to 'Edit Destination', edit_destination_path(@destination), class: "btn btn-primary" %>
      </div>

      <% end %>




    </div>

  </div>




  <!-- correct -->

</div>
</div>

</div>


</div>
<% else %>
<div class=" title-front text-center">
  <h2>No Created destination</h2>
  <% end %>
</div>
</div>

