
<div class="bgshowdest" style="width:100%; height: 400px; background-size: cover;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path @destination.photo %>);">
</div>
  <div class="row">

    <div class="col-md-6">
      <div class="descrshowdest" >
          <h3><%= @destination.name%></h3>
          <p> <%= @destination.planet_type %></p>
          <p><%= @destination.description %></p>
          <p><%= @destination.landscape_type %></p>
          <ul class="text-deco-none">
            <li><p>Price: <%= @destination.price %></p></li>
            <li><p>weather description :<%= @destination.weather%></p></li>
          </ul>
        </div>
        </div>

        <div class="col-md-6">
          <div class="BtnShowRight">
          <%= render 'form' %>
          </div>
        </div>
    </div>
  </div>



