
<div class="container ">
  <div class=" title-front text-center">
    <h2>This is our Destinations all over the universe</h2>
  </div>
  <div class="row">


      <% @destinations.each do |destination| %>

      <div class="col-xs-12 col-sm-6 col-md-4 ">
       <%= link_to destination_path(destination), class:" link-cards" do %>
        <div class="card">
         <div class="card-img " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path destination.photo %>);">
         </div>

         <div class="card-block">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/filouzzz">

          <div class="card-description">
            <h2><%= destination.name %></h2>
            <p><%= destination.planet_type %></p>
          </div>
          <% if destination.booked == true %>
          <div class="text-center card-text:last-child">
            <span class=" btn rounded-black-dest">Already booked</span>
          </div>
          <% else %>
          <div class="text-center card-text:last-child">
            <% if current_user %>
              <%= link_to 'Book me', new_destination_booking_path(destination), class: "btn rounded-red-dest"%>
            <% end %>
          </div>

          <% end %>
          <% end %>
          <!-- correct -->

        </div>
      </div>
    </div>
    <% end %>

</div>
</div>


