
<div class="bg-form">
<div class="container ">
  <div class="row">
    <div class="text-center">
      <h2 class="new-header-page"> Update Destination</h2>
    <div class="form-spacing">
      <div class="col-md-4 col-md-offset-4">
        <%= simple_form_for [@destination] do |f| %>
        <%= f.input :name, placeholder: @destination.name, label: false %>
        <%= f.input :planet_type, placeholder: @destination.planet_type , label: false%>
        <%= f.input :price,placeholder: @destination.price, class: "color-white-form", label: false %>
        <%= f.input :weather, placeholder: @destination.weather, label: false %>
        <%= f.input :distance, placeholder: @destination.distance, label: false %>
        <!-- <div class="file-upload-new-dest text-center">
        <%= f.file_field :photo, label: false %>
            <% #if file_field? do %>
        </div> -->
        <%= f.input :description, placeholder: @destination.description, label: false %>
        <%= f.submit "Confirm update", class: "btn btn-primary rounded-white" %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
</div>






