<%= form_tag(destinations_path, :method => "get", ) do %>
<%= text_field_tag :search, params[:name], placeholder: "Search Destinations" %>
<%= submit_tag "Search" %>
<% end %>


<%= render 'shared/cards' %>
<div class="top-padding-100 text-center">
  <% if current_user %>
  <p><%= link_to 'New Destination', new_destination_path, class: "btn btn-primary"%></p>
  <% else %>
  <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
  </p>
  <% end %>
</div>
