<div class = "container">

<h1 class="text-center"><%= @destination.name  %></h1>
<h2 class="text-center"><%= @destination.description %></h2>
<h2 class= "text-center"><%= @destination.landscape_type %></h2>
<ul>
<li><h3 class="text-center">Price: <%= @destination.price %></h3></li>
<li><h3 class="text-center">weather description :<%= weather%></h3></li><br>
<li><h3 class="text-center"><%= planet_type %></p></h3></li>
</ul>

</div>
