
<div class = "container">

<div class="card margin-bottom-10" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path @destination.photo %>);">
<h1 class="text-center"><%= @destination.name%></h1><h4 class="text-center"> a <%= @destination.planet_type %></h4>
<h2 class="text-center"><%= @destination.description %></h2>
<h2 class= "text-center"><%= @destination.landscape_type %></h2>
<ul>
  <li><h3 class="text-center">Price: <%= @destination.price %></h3></li>
  <li><h3 class="text-center">weather description :<%= @destination.weather%></h3></li>
  <div>
  <p>
  <%= link_to 'Back', destinations_path, class: "btn btn-primary"%>
  </p>
  <p>
    <%= link_to 'Book', new_destination_booking_path(@destination), class: "btn btn-primary"%>
  </p>
    <% if @destination.user == current_user %>
      <p>
      <%= likt_to 'Update destination', edit_destination_path(@destination), class: "btn btn-primary"  %>
      </p>
      <% else %>
      <% end %>
  </div>

</ul>
</div>

</div>


