  <div class="card-img " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= @destination.seed_photo ? (image_path @destination.seed_photo) : (cl_image_path @destination.photo.path) %> );">
         </div>
    <div class="row">
      <div class="col-md-6">
        <div class="descrshowdest" >
          <h3><%= @destination.name%></h3>
          <p> <%= @destination.planet_type %></p>
          <p><%= @destination.description %></p>
          <p><%= @destination.landscape_type %></p>
          <ul>
            <li><p>

              price: <%= @destination.price %> USD/DAY MAN!!</p></li>
            <li><p>weather description :<%= @destination.weather%></p></li>
          </ul>
        </div>
        </div>
       <div class="col-md-6">
          <div class="BtnShowRight">
          <%= link_to 'Back', destinations_path, class: "btn rounded-black"%>

          <% if current_user %>
            <% if @destination.booked == false %>

<<<<<<< HEAD
             <%= link_to 'Book', new_destination_booking_path(@destination), class: "btn rounded-red"%>
=======
            <%= link_to 'Book', new_destination_booking_path(@destination), class: "btn rounded-red"%>
>>>>>>> c7006ddb893650e1c3a5ffc0a433d4f846cf8079

            <% end %>
          <% else %>
          <%= link_to 'Log in', new_user_session_path, class: "btn rounded-red"%>
          <% end %>


        <% if @destination.user == current_user %>
        <p>
          <%= link_to 'Update destination', edit_destination_path(@destination), class: "btn btn-primary"  %>
        </p>
        <% else %>
        <% end %>
        </div>
    </div>

  </div>







