

  <div class="bgshowdest" style="width:100%; height: 400px; background-size: cover;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path @destination.photo %>);">
  </div>
    <div class="row">
      <div class="col-md-6">
        <div class="descrshowdest" >
          <h3><%= @destination.name%></h3>
          <p> <%= @destination.planet_type %></p>
          <p><%= @destination.description %></p>
          <p><%= @destination.landscape_type %></p>
          <ul>
            <li><p>Price: <%= @destination.price %></p></li>
            <li><p>weather description :<%= @destination.weather%></p></li>
          </ul>
        </div>
        </div>
       <div class="col-md-6">
          <div class="BtnShowRight">
          <%= link_to 'Back', destinations_path, class: "btn rounded-black"%>


          <%= link_to 'Book', new_destination_booking_path(@destination), class: "btn rounded-red"%>

        <% if @destination.user == current_user %>
        <p>
          <%= likt_to 'Update destination', edit_destination_path(@destination), class: "btn btn-primary"  %>
        </p>
        <% else %>
        <% end %>
        </div>
    </div>
  </div>







